<div  class="centrado">
        <div class="login">
            <mat-spinner *ngIf="loading" class="elementoDeCarga" diameter="40"></mat-spinner>

            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
                <img src="../../assets/imagenes/usuario.png" alt="">
            <div class="camposLoginContenedor">
            <mat-form-field class="camposLogin">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <div class="example-container" >
                <mat-form-field class="camposLogin">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                </button>
                </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
        </div>
            </form>
        
</div>
